<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="glpsolLocation" value=""/>
		<add key="cbcLocation" value=""/>
		<add key="pythonLocation" value="E:\Program Files\Python3"/>
		<add key="pythonScript" value="C:\Users\nicki\source\repos\ModelRunner\Pythonscripts\CBC_results_ModelRunner.py"/>
	</appSettings>
</configuration>